.BadConteiner {
  padding: 5px 5px;
  height: 26px;
  color: #ea1a4f;
  border: 1px solid #ea1a4f;
  border-radius: 4px;
  font-size: 14px;
  background-color: #fee9ef;
  margin-right: 405px;
}

.GoodConteiner {
  padding: 5px 5px;
  height: 26px;
  color: #122945;
  border: 1px solid #adbfdf;
  border-radius: 4px;
  margin-right: 395px;
  font-size: 14px;
  background-color: #d8e4fb;
}

.GreatConteiner {
  padding: 5px 5px;
  height: 26px;
  color: #00a775;
  border: 1px solid #00a775;
  border-radius: 4px;
  margin-right: 390px;
  font-size: 14px;
  background-color: #dbf8ef;
}

.TextContainer {
  color: #ea1a4f;
}
