.Trigger {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: none;
  gap: 17px;
  font-size: 14px;
  height: 21px;
  background-color: transparent;
  opacity: 87%;
  color: #002CFB;
}

.Trigger:hover {
  cursor: pointer;
}

.SelectDate {
  display: flex;
  align-items: center;
  gap: 8px;
}

.SelectIcon {
  color: #adbfdf;
}

.Trigger:focus {
  outline: none !important;
}

.SelectIconLeft {
  transform: rotate(90deg);
}

.SelectIconRight {
  transform: rotate(-90deg);
}

.Viewport {
  width: 204px;
  height: 239px;
  color: #122945;
  border-radius: 4%;
  box-shadow: 0px 0px 26px rgba(233, 237, 243, 0.8);
  background-color: white;
  padding-bottom: 14px;
}

.Group {
  display: flex;
  flex-direction: column;
  align-items: start;

}

.Item {
  display: flex;
  align-items: center;
  width: 164px;
  padding: 7px 20px;
  font-size: 12px;
  line-height: 18px;
  color: #899CB1;
  height: 26px;
}

.item-data {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.text-data {
  color: #ADBFDF;
  font-size: 14px;
}

.SelectLabel {
  width: 100%;
  padding: 7px 20px;
  font-size: 14px;
}

/* Стили при наведении и фокусе */
.Item[data-highlighted] {
  outline: none;
  color: #122945;
  background-color: #dee4ff;
}

/* Стили для выбранного элемента */
.Item[data-state="checked"] {
  background-color: #dee4ff;
  color: #002CFB;
}
