.CallListItem {
  padding-top: 10px;
  padding-bottom: 5px;
  display: grid;
  grid-template-columns: 54px 88px 129px 325px 214px 461px 110px;
  align-items: center;
  color: #122945;
  background-color: white;
  border-bottom: 1px solid #eaf0fa;
  line-height: 148%;
}

.CallListItemNumber {
  font-size: 15px;
  line-height: 148%;
}

.CallListItemIcon {
  padding-left: 5px;
}

.CallListItemDuration {
  justify-self: end;
  padding-right: 20px;
}

.CallListItemSource {
  color: #5e7793;
}

.audio-player {
  height: 48px;
}
